/* nav{
text-align: center;
} */
.network, #gomarket{
    color: #e74c3c;
}
.restart{
    color: rgb(255, 255, 255);
}
.min-height{
    min-height: 600px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    height: 100vh;
}
.content-wrapper{
    margin-top: 80px;
    margin-bottom: 100px;
}