/* nav{
text-align: center;
} */
.network,
#gomarket {
  color: #e44235;
}
.restart {
  color: rgb(255, 255, 255);
}
.min-height {
  min-height: 85vh;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
  height: 100vh;
}
.content-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
}
.loadingDiv * {
  margin: auto;
}
.loadingDiv {
  margin-top: 100px;
  padding: 100px;
  min-height: 85vh;
}
body * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
  white-space: pre-line;
}

#descriptionInDetails {
  word-wrap: break-word;
}
#root {
  background-color: #ffffff0e;
}
.chatbox {
  height: 400px;
  overflow: auto;
  display: block;
  word-wrap: break-word;
  border: #d897907e 3px solid;
  box-shadow: #ffffff0e 1px solid;
}
.historyModal {
  max-height: 500px;
  overflow: auto;
}
.headersOnUI {
  border-radius: 20px !important;
  background-color: rgba(228, 65, 53, 0.829);
}
.pagination li {
  position: relative;
  display: block;
  padding: 3px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}
.pagination .active {
  color: #ffffff;
  background-color: #007bff;
}
.pagination .disabled {
  cursor: not-allowed;
  color: #959595;
}
.pagination li a {
  padding: 0.75rem;
}
.pagination {
  margin: 10px;
}
.pagination li:hover:not(.active) {
  background-color: #ddd;
}
@media (max-width: 768px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    height: unset;
  }
  .headersOnUI {
    font-size: 30px !important;
    font-weight: 400 !important;
  }
  .pagination li {
    padding: 2px;
    margin: 4px;
    display: none;
  }
  .pagination .next {
    display: unset;
  }
  .pagination .previous {
    display: unset;
  }
  .pagination .active {
    display: unset;
    background-color: white;
    color: #222;
    cursor: auto;
  }
  .pagination .first {
    display: unset;
  }
  .pagination .last {
    display: unset;
  }
}

#listenButton {
  width: 100px;
  margin: auto;
}